{% extends 'base.html.twig' %}

{% block title %}Employees index{% endblock %}

{% block body %}
    <h1>Employees index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Employee</th>
                <th>Distance</th>
                <th>Workdays</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.employee }}</td>
                <td>{{ employee.distance }}</td>
                <td>{{ employee.workdays }}</td>
                <td>
                    <a href="{{ path('employees_show', {'id': employee.id}) }}">show</a>
                    <a href="{{ path('employees_edit', {'id': employee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('employees_new') }}">Create new</a>
{% endblock %}
