{% extends 'base.html.twig' %}

{% block title %}Employees{% endblock %}

{% block body %}
    <h1>Employees</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employee.id }}</td>
            </tr>
            <tr>
                <th>Employee</th>
                <td>{{ employee.employee }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ employee.distance }}</td>
            </tr>
            <tr>
                <th>Workdays</th>
                <td>{{ employee.workdays }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('employees_index') }}">back to list</a>

    <a href="{{ path('employees_edit', {'id': employee.id}) }}">edit</a>

    {{ include('employees/_delete_form.html.twig') }}
{% endblock %}
